# data
data_exploration/data/*

venv_projektrealisierung/*
.venv/*
mlruns
Evaluation/results
*.csv
webapplikation/speechtotext.py

webapplikation/__pycache__

# dont ignore those
!data_exploration/data/1/meta.txt
!data_exploration/data/complete_data_subset_link.txt
